body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat',sans-serif;
	background: url(s10.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
	border-color: yellow;
	border-width: 4px;
	max-width: 70px;

}
h1 {
	text-align: center;
	font-size: 5rem;
	color: black;
}
.buffer {
	height: 10rem;
}
.btn {
	font-weight: 700px;
	border-radius: 500px;
	text-transform: uppercase;
}
.btn-primary {
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-vg {
	padding: 1rem 2rem;
}
.btn-primary:hover{
	background-color: seagreen;
	border-color: seagreen;
	border-width: 5px;
}